*::-webkit-scrollbar{
    display: none;
}

h1,h2,h3,h4,h5,h6,p,small, .navlink{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3)
}

.noshadow {
    text-shadow: none !important;
}

.logo-wrapper{ 
    background: linear-gradient(316.88deg, rgba(0, 0, 0, 0) 27.86%, rgba(0, 0, 0, 0.3) 66.38%), #0E98A4;
}

.angular-gradient{
    background-image: conic-gradient(from 108deg at 60% 50%, #000000 0deg, rgba(102, 102, 102, 0) 360deg);
}



.partial-height{
    height: calc( 100% - 2rem );
}

.auth-bg {
    background-image: url('./assets/img/Rock.png'), url('./assets/img/Torus.png'), url('./assets/img/Cone.png');
    background-position: 129px -75px, 47px 110%, 92% 50%; /* Set individual positions */
    background-repeat: no-repeat; /* Ensure the images don't repeat */
    background-size: 15vw, 20vw, 10vw; /* Adjust size as needed */
}

@media (max-width : 560px) {
    .auth-bg {
        background-position: 65px -60px, -10% 125%, 110% 80%;
        background-size: 30vw, 40vw, 20vw; /* Adjust size as needed */
    }
}

@media (min-width : 1200px) {
    .auth-bg {
        background-position: 13.2% -5%, 6% 105%, 92% 75%;
        background-size: 100px, 165px, 70px; /* Adjust size as needed */
    }
}
  

@media (min-width : 1500px) {
    .auth-bg {
        background-position: 13.2% -5%, 6% 105%, 92% 75%;
        background-size: 195px, 260px, 130px; /* Adjust size as needed */
    }
}
  